@using TemplateFwExample.Dtos
@inject IOptions<WebSettings> webSettings
@model PagedList<ExampleModelInfoDto>
@{
    int itemNo = Model.FirstItemNo;
}
<div class="form-head mb-sm-5 mb-3 d-flex flex-wrap align-items-center">
    <div class=" mr-auto">
        <h3 class="font-w600 mb-2">@modulesLocalizer["ExampleModels"]</h3>
        <p class="mb-0">@modulesLocalizer["ExampleModel_Management"]</p>
    </div>
    <a href="/#!/exampleModel/add" class="btn btn-outline-primary mr-3">
        <i class="fas fa-layer-plus fa-lg mr-2"></i> اضافة 
    </a>
</div>

@Html.Partial("/Views/ExampleModel/IndexFilter.cshtml",new ExampleModelFilter())

<div class="card">
    <div style="visibility:hidden" class="loader-box">جاري التحميل ...</div>
    <div class="card-body" id="containerBox">
        @Html.Partial("/Views/exampleModel/IndexContent.cshtml", Model)
    </div>
</div>
